Checks: >-
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-make-unique,
  -modernize-concat-nested-namespaces,
  -modernize-use-emplace,
  performance-*,
  -performance-enum-size,
  -performance-avoid-endl,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-math-missing-parentheses,
  -readability-implicit-bool-conversion,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-convert-member-functions-to-static,
  -readability-inconsistent-declaration-parameter-name,
  -misc-include-cleaner,
ExcludeHeaderFilterRegex: '.*/thirdparty/.*|.*/build.*/.*'
