.DS_Store
.cache
.examples
.vscode
__pycache__
/build*
tools/env*
tools/proj_grids
nasr_data
osect.db
basemap
vfr
terrain
terrain_source
*_PLAN.md
/elevation_plan
REQUIREMENTS.md
*.trace
CMakeUserPresets.json
